body {margin: 0 auto;font-family:verdana;position:absolute;top:0;left:0;right:0;bottom:0;background-color:#e5e9ec;font-size:12px;}
nav {position:fixed;left:0;top:0;bottom:0;width:250px;background-color:#22262e;color:#fff;}
nav a {color:#fff;}
nav a h1 {font-size:20px;height:60px;line-height:60px;padding:0;padding-left:25px;margin:0;width:calc(100% - 70px);float:left;}
nav a h1 span {font-weight:normal;}
nav button {background-color:#22262e;border:none;padding:7.5px;margin-top:10px;cursor:pointer;}
nav button:hover {background-color:#1b1e24;}
nav ul {background-color:#1b1e24;}
nav ul li {border-top:1px solid #1b1e24;margin-left:-40px;background-color:#22262e;height:50px;line-height:50px;font-size:13px;}

nav ul li img {position:fixed;margin:9px 10px 9px 10px;opacity:.75;transition:.5s;}
nav ul li a {margin-left:50px;color:#aaa;text-decoration:none;transition:.5s;display:inline-block;}
nav ul li:hover a {color:#fff;}
nav ul li:hover img {opacity:1;}
nav ul li:hover {background-color:#1b1e24;}
.active {background-color:#1b1e24;}
nav ul li span {float:right;font-size:11px;border-radius:5px;margin-right:15px;position:relative;top:15px;padding:0 5px 0 5px;background:#2A2E36;color:#8B91A0;height:20px;line-height:20px;}
header {height:60px;background-color:#fff;z-index:2;position:relative;padding-left:10px;padding-right:5px;}
header button {cursor:pointer;outline:none;float:left;background-color:transparent;border:none;height:60px;padding:4px 10px 0 10px;margin-top:0;transition:.5s;}
header button.rotate:hover {}
header button img {width:20px;opacity:.65;transition:.5s;}
header button:hover img {opacity:1;}
header input[type="search"] {height:60px;width:calc(100% - 510px);padding:0 10px 0 10px;background:transparent;border:0;padding-left:45px;outline:none;}
header img.search-icon {position:absolute;margin-top:22.5px;margin-left:15px;z-index:-1;width:16px;opacity:.65;}
header p {height:60px;}
header .dropdown {display:none;border-radius:3px;opacity:0;background:#fff;width:150px;position:absolute;right:15px;margin-top:5px;padding:5px;box-shadow:0px 0px 5px rgba(86,96,117,0.2);}
header .dropdown li {list-style-type:none;cursor:pointer;}
header .dropdown li:hover {background:#EFF2F3;}
header .dropdown:before {content:'';width:10px;border-left:1px solid #ddd;border-top:1px solid #ddd;height:10px;position:absolute;margin-top:-11px;margin-left:135px;z-index:100;background:#fff;display:block;-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
header .dropdown a {text-decoration:none;:none;color:#2A2E36;display:block;width:100%;padding:10px 15px 10px 15px;box-sizing:border-box;}
button.btn {padding:10px;border:0;border-radius:3px;cursor:pointer;transition:.5s;min-height:29px;min-width:39px;}
button.btn img {margin-top:-5px;margin-left:-0px;position:relative;top:2px;}
button.btn.blue {background:#22262e;color:#fff;} button.btn.blue:hover {background:#1b1e24;}
button.btn.red {background:#F35958;color:#fff;} button.btn.red:hover {background:#F14D4D;}
button.btn.border {background:Transparent;border:3px solid #aaa;border-radius:15px;color:#515050;font-weight:bold;}
button.btn.small {padding:5px;}
.container {position:fixed;left:250px;right:0;bottom:0;top:0;overflow-y:auto;}
table.tbl {background:#fff;width:100%;border:1px solid rgb(221, 221, 221);}
table.tbl thead th {text-align:left;padding:7.5px;border-bottom:1px solid rgb(221, 221, 221);}
table.tbl tbody td {padding:5px;}
div.pad {padding:25px;}
div.pad h2 {color:#515050;font-size:22px;font-weight:normal;width:50%;float:left;}
.modal {position:fixed;bottom:-125px;left:0;right:0;height:125px;z-index:50;padding:10px 40px 10px 40px;box-sizing:Border-box;color:#fff;}
.modal p {font-size:20px;}
.modal input[type=file] {background:#fff;padding:5px;}

.edit-header h1 {color:#515050;font-size:22px;}
.edit-header p {padding-left:10px;color:#515050;}

.red {background:#F35958;}.modal.red button,  .modal.red input{color:#F35958;}
.red:hover{background:#d3504f;}

.blue {background:#0AA699;}.modal.blue button,  .modal.blue input {color:#0AA699;}
.lightblue {background:#0090D9;}
.purple {background:#735F87;}
.dark {background:#22262E;color:#fff;}
.white {background:#fff;}
.modal button {cursor:pointer;font-size:20px;float:right;margin-right:25px;background:transparent;background:#fff;font-weight:bold;border:3px solid #fff;padding:7.5px 15px 7.5px 15px;}
.left, .right {width:50%;float:left;box-sizing:border-box;}
.h2 {color:#515050;font-size:22px;font-weight:normal;}
.four, .three, .three-two, .two {float:left;box-sizing:border-box;}
.four {width:25%;}
.three{width:33.33333333%;}
.three-two {width:66.6666666%;}
.two {width:50%;}
.round {margin:0 auto;margin-top:5px;text-align:center;display:block;transition: all .3s ease-in-out;border-radius:75px;}

form input[type="submit"] {color:#fff;padding:15px;margin-top:5px;border:0;border-radius:3px;cursor:pointer;transition:.5s;min-height:29px;min-width:39px;}
form input[type="submit"]:hover {background:#099A8C;}
form input[type="button"] {color:#fff;padding:15px;margin-top:5px;border:0;border-radius:3px;cursor:pointer;transition:.5s;min-height:29px;min-width:39px;}
form input[type="text"], input[type=password], input[type=email], input[type=date], input[type=number] {box-sizing:border-box;width:100%;height:40px;margin-bottom:8.5px;padding-left:15px;border:1px solid #ccc;}

p.error {margin:0;background:#c9302c;padding:7.5px;color:#fff;}
p.success {margin:0;background:#2d8633;padding:7.5px;color:#fff;}

form td label, .basic-label{width:calc(15% - 15px);float:left;height:40px;line-height:40px;background-color:#0AA699;color:#fff;font-weight:bold;padding-left:15px;}
.basic-label {width:100%;}

form select{padding-left:15px;width:85%;float:right;height:40px;line-height:40px;margin-bottom:8.5px;}
label select {float:none;height:initial;line-height:initial;margin-bottom:initial;width:initial;padding:4px;margin-bottom:5px;}