body {margin: 0 auto;font-family:verdana;position:absolute;top:0;left:0;right:0;bottom:0;}

nav {background:#fff;height:75px;}
nav .title {font-family:'Coolvetica', sans-serif; color:#000;text-decoration:None;}

nav section {height:50px;background:#2e3539;}
nav section input {float:right;height:35px;margin-top:7.5px;border:0;padding-left:10px;padding-right:10px;}
nav section .searchsubmit {float:right;background:#2D8633;border:0;height:35px;margin-top:7.5px;width:40px;color:#fff;}
nav section ul {margin:0;}
nav section ul li {color:#fff;list-style-type:none;}
nav .menu-holder {width:calc(100% - 445px);float:left;padding-left:calc(100% - 950px);box-sizing:border-box;}
nav ul.controllers {}
nav ul.controllers {margin:0 auto;}
nav ul.controllers li {cursor:pointer;list-style-type:none;float:left;line-height:75px;padding-left:10px;padding-right:10px;}
nav ul.controllers li a {color:#000;text-decoration:none;display:inline-block;}
nav ul.controllers li:hover a {color:#fff;}
nav ul.controllers li:hover {color:#fff !important;background:#2d8633;}
nav input[type="search"] {float:right;height:40px;width:200px;margin-top:17.5px;padding:0 10px 0 10px;background:#eee;border:1px solid #ccc;}
nav a img {float:left;width:400px;color:#fff;padding-top:10px;}

.container {width:1000px;margin:0 auto;}

.mobile-menu-toggler {width:50px;height:50px;background:#ccc;display:none;float:right;margin-top:12.5px;margin-right:10px;}
@media only screen and (max-width: 1000px), only screen and (max-device-width: 500px) {
    .responsive-full-width {width:100%;}
    .responsive-padding, .content {padding:10px;}
    .container {width:100%;box-sizing:Border-box;}
    .four {width:100%;float:none;}
    footer {width:100%;box-sizing:border-box;}
    nav h1 {padding-left:10px;}
    nav input[type=search] {margin-right:10px;}
}
@media only screen and (max-width: 875px), only screen and (max-device-width: 450px) {
    .responsive-second-full-width {width:100%;}
    .three {width:100%;float:none;}
    nav .controllers {display:none;}
    nav input[type=search] {display:none;}
    .mobile-menu-toggler {display:block;}
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 300px) {
    .responsive-third-full-width {width:100%;}
    .two {width:100%;float:none;}
}