body {margin: 0 auto;font-family:verdana;position:absolute;top:0;left:0;right:0;bottom:0;}
body section.loginform {text-align: center;  width: 275px; margin: 0 auto;  }
body section.loginform a {color:#0000ff;font-size:12px;text-decoration:none; display:inline-block; margin-top: 15px;}
body section.loginform p {text-decoration:none;font-size:12px;text-decoration:none; margin: 0px; margin-top: 15px;}
body section.loginform input {width: 100%; height: 50px; }
body section.loginform input {width:100%;height:40px;margin-bottom:8.5px;padding-left:15px;border:1px solid #ccc;}
body section.loginForm button {color:#2d8633;}
body span.form-sign {height:40px;width:50px;background:#2d8633;box-shadow:inset 1px 1px #00B205;position:absolute;z-index:2;float:left;font-size:10px;color:#fff;text-align:center;}
.page-route {line-height:100px;font-size:12px;font-weight:300;float:right;}
.page-route a {color:#2d8633;text-decoration:none;}

/*NAV MENU*/
nav {background:#fff;height:100px;border-bottom:5px solid #2d8633;}
nav .title {font-family:'Coolvetica', sans-serif; color:#000;text-decoration:None;}
nav a img {float:right;display:inline;width:400px;color:#fff;padding-top:10px;}
nav section {height:50px;background:#2e3539;}
nav section input {float:right;height:35px;margin-top:7.5px;border:0;padding-left:10px;padding-right:10px;}
nav section .searchsubmit {float:right;background:#2D8633;border:0;height:35px;margin-top:7.5px;width:40px;color:#fff;}
nav section ul {margin:0;}
nav section ul li {color:#fff;list-style-type:none;}
nav .menu-holder {width:calc(100% - 445px);float:left;padding-left:calc(100% - 950px);box-sizing:border-box;}
nav ul.controllers {}
nav ul.controllers {margin:0 auto;}
nav ul.controllers li {cursor:pointer;list-style-type:none;float:left;line-height:100px;padding-left:10px;padding-right:10px;transition: border-bottom-width 0.1s ease-in-out;}
nav ul.controllers li a {color:#000;text-decoration:none;display:inline-block;}
nav ul.controllers li:hover a {color:#2D8633;}
nav ul.controllers li:hover {border-bottom:5px solid #fff;height:100px;color:#000; !important;line-height:100px;}
nav ul.controllers.responsive-mobile {width:100%;padding-left:0;}
nav ul.controllers.responsive-mobile li {margin-top:15px;width:100%;padding-left:15px;}

nav input[type="search"] {float:right;height:40px;width:200px;margin-top:17.5px;padding:0 10px 0 10px;background:#eee;border:1px solid #ccc;}
nav h1 {float:left;width:215px;color:#fff;}
.logo {float: left;text-align: right;height:100px;background-color:#fff;position: relative;color:#000;line-height:100px;}
.logo h2 {font-size:24px;margin:0;}
/*BANNER*/
.banner {position:relative;overflow:auto;width:100%;text-align:center;font-size:18px;line-height:24px;text-align:center;color:rgba(255,255,255,.9);text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);}
.banner li {list-style: none;}
.banner ul {margin:0;padding:0;}
.banner ul li {float: left;min-height:300px;padding:135px 0 0 0;}
.banner ul li h1 {margin:0;font-size:40px;font-weight:300;color:#fff;line-height:52px;}
.banner .btn {display:inline-block;margin:25px 0 0;padding:15px 25px;clear:both;color:#fff;font-size:12px;font-weight:bold;text-transform:uppercase;text-decoration:none;border:2px solid rgba(255,255,255,.5);border-radius:5px;}
.banner .btn:hover {background:rgba(255,255,255,.1);}
.banner .dots {position:absolute;left:0;right:0;bottom:20px;text-align:left;}
.banner .dots li {display:inline-block;width:10px;height:10px;margin:0 4px;text-indent:-999em;border:2px solid #fff;border-radius:6px;cursor:pointer;opacity:.4;-webkit-transition:background .5s, opacity .5s;-moz-transition:background .5s, opacity .5s;transition:background .5s, opacity .5s;}
.banner .dots li.active {background:#fff;opacity:1;}

footer {background:#2E3539;color:#919496;padding-bottom:25px;}
footer .top {padding:5px;background:#2a2a2a;border-bottom:1px solid #444;}
footer .top h3 {color:#919496;}
footer .three > h3 {font-weight:normal;color:#666;}
footer ul.controllers {padding:0;}
footer ul.controllers li {list-style-type:none;}
footer ul.controllers li a {color:#777;text-decoration:none;font-size:12px;text-decoration:none;}

header {height:250px;background-size:cover;position:relative;background-position:center center;background-repeat:no-repeat;}
header .content {height:100%;width:100%;opacity:1;padding:0 1%;z-index:10;float:none;display:block;margin-left:auto;margin-right:auto;text-align:center;position:absolute;}
header h2 {margin-bottom:0px;text-align:center;font-size:40px;margin-top:0px;padding-top:140px; color:white;}
header p {text-align:center;font-size:22px;color:white;}
header .content button {font-weight:bold;font-size:18px;color:#fff;background:#2D8633;border:2px solid white;border-radius:5px;padding:15px 75px 15px 75px;margin-top:15px;}
header .content button:hover {background:#26762c;cursor:pointer;transition:.3s;}
header .overlay {height:100%;width:100%;opacity:0.75;-webkit-transition: background-color 1s ease;-moz-transition: background-color 1s ease;-o-transition: background-color 1s ease;transition: background-color 1s ease;}
header:hover .overlay {background-color:#2E3539;}

button.green {background:#2D8633;color:#fff;height:40px;padding-left:17.5px;padding-right:17.5px;border:0;}
button.white {color:#2D8633;background:transparent;border:0;height:50px;width:100%;text-align:left;cursor:pointer;}
.container {width:1000px;margin:0 auto;}
.bgbutton {z-index:20 !important;position:relative;top:-60px;font-size:18px;margin-top:-50px;font-weight:bold;height:50px;line-height:50px;padding:0 30px 0 30px;background:#2D8633;color:#fff;display:inline-block;}
.slider {background:#eee;padding:45px 20px 45px 20px;border-bottom:1px solid #ddd;}
.slider section.slider {height:350px;padding:15px;width:65%;float:left;background:#2D8633;color:#fff;}
.slider section.slider h2 {font-size:35px;padding-left:15px;padding-top:15px;}
.slider section.slider p {width:50%;font-size:15px;padding-left:15px;}
.slider section.form {height:350px;width:30%;float:left;padding:15px;padding-top:0;box-sizing:border-box;}
section.slider {height:350px;padding:15px;width:65%;float:left;background:#2D8633;color:#fff;}
section.slider h2 {font-size:35px;padding-left:15px;padding-top:15px;}
section.slider p {width:50%;font-size:15px;padding-left:15px;}
section.form {height:350px;width:30%;float:left;padding:15px;padding-top:0;box-sizing:border-box;}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=number] {box-sizing:border-box;width:100%;height:40px;margin-bottom:8.5px;padding-left:15px;border:1px solid #ccc;}
input[type=submit] {background:#2D8633;color:#fff;height:40px;padding-left:17.5px;padding-right:17.5px;border:0;}
input[type=submit]:hover {cursor:pointer;background:#26762c;transition:.3s;}
select {height:40px;border:1px solid #ccc;}
section.form p {margin:0px;}
section.form h4 {margin-bottom:0px;}
section.form a {color:#2d8633;text-decoration:none;}
section.form a:hover {color:#2d8633;}
section p.panel-title {margin-bottom:0;padding:0px 10px 0px 10px;height:40px;line-height:40px;background:#2d8633;color:#fff;}
section ul li {margin-bottom:-1px;border:1px solid #2d8633;padding:0px 10px 0px 10px;height:40px;line-height:40px;}
section ul li a {text-decoration:none;}
section ul li:hover {background:#2d8633;}
section ul li:hover a {color:#fff;}
.map-overlay {background:rgba(255, 255, 255, 0.4);position:absolute;z-index:10;width:100%;cursor:pointer;}
article h2 {margin-bottom:0px;color:#000;font-size:28px;font-weight:400;position:relative;}
article h2 a {cursor:pointer;text-decoration:none;}
article p {margin-top:2px;}
article a span.box {background:#2d8633;color:#fff;width:4px;padding:1px 5px 1px 5px;margin-right:5px;opacity:.65;}
article a {cursor:pointer;text-decoration:none;}
article a:hover {color:#2d8633;}
article a:hover span.box {opacity:1;}
article img {width:512px;color:#fff;margin-bottom:10px;display: block;}

button.green {background:#2D8633;color:#fff;height:40px;padding-left:17.5px;padding-right:17.5px;border:0;}
button.white {color:#2D8633;background:transparent;border:0;height:50px;width:100%;text-align:left;cursor:pointer;}
.container {width:1000px;margin:0 auto;}
p.error {background:#c9302c;padding:7.5px;color:#fff;}
.toButton {height:40px;margin-right:-7px;}
.roundButton {background-color:#2D8633;font-weight:bold;padding:10px 75px 10px 75px;font-size:18px;color:#fff;line-height:40px;border:2px solid #fff;border-radius:5px;margin-top:10px;}
.roundButton:hover {border:2px solid #2D8633;background-color:#fff;color:#000;cursor:pointer;}

.spoiler {margin-top:25px;}
.spoiler > .header {background:green;height:50px;color:#fff;-webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  -o-user-select: none;  user-select: none; }
.spoiler .content {color:#000;margin-bottom:25px;display:none;padding:10px;}

.container-max {background:#f7f7f7;width:1500px;margin:0 auto;}

hr {display: block;margin: 1em auto;border: 1px solid #000;transition: width 1s ease 0s;}

.panel {text-align:center;box-shadow:0 0 4px rgba(0,0,0,0.1);margin:5px;background:#f7f7f7;color:#444;min-height:150px;}
.panel .panel-img {transition: opacity 1s;background:#000;opacity:0.8;}
.panel:hover .panel-img {opacity:1;}
.panel h4 {margin: 0px;
    padding: 15px 15px 10px 15px;
    display: inline-block;}
.panel p.author {font-size:11px;padding: 0px 15px 15px 15px;
    margin: 0;}
.panel a {text-decoration:none;}
.panel a button {height:35px;width:100%;border:0;background:transparent;color:#2D8633;}
.panel a button:hover {background:#2D8633;color:#fff;cursor:pointer;}
.panel-body ul {}
.panel-body ul li {list-style-type:square;}

.image img {transition: opacity 1s;background:#000;opacity:0.8;}
.image:hover img {opacity:1;}

.rating {unicode-bidi:bidi-override;direction:rtl;}
.rating > span {display: inline-block;position:relative;width:1.1em;font-size:35px;line-height:35px;}
.rating > span:hover:before, .rating > span:hover ~ span:before {content:"\2605";position:absolute;}


.articlePanel {color:#fff;opacity: 0.95;transition:.3s;position: relative;}
.articlePanel:hover {cursor:pointer;}
.articlePanel .overlay {height:100%;width:100%;opacity:0.75;-webkit-transition: background-color 1s ease;-moz-transition: background-color 1s ease;-o-transition: background-color 1s ease;transition: background-color 1s ease;}
.articlePanel:hover .overlay {background:#2D8633;}
.articlePanel hr {display: block;width: 15%;margin: 1em auto;border: 1px solid #fff;transition: width 1s ease 0s;}
.articlePanel:hover hr {width:50%;}
.articlePanel div.content {width:100%;opacity:1;padding:0 1%;z-index:10;float:none;display:block;margin-left:auto;margin-right:auto;text-align:center;position:absolute;top:50%;}
.articlePanel h1 {margin:0;font-size:32px;}
.articlePanel p.author {font-size:11px;}

.pagination {display: inline-block;
    padding-left: 0;
    margin:30px 0;
    border-radius: 4px;}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #2d8633;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a:hover {
    color: #fff;
    background-color: #2d8633;
}
.pagination>li.active>span {
    color: #fff;
    background-color: #2d8633;
}

label.green {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left:-25px;
    margin-right: 15px;
    font-size: 13px;
    padding-left:25px;
}
label.green > span {padding-left:10px;position:Relative;top:12.5px;}
label.green:before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 0px;
    position: absolute;
    left: 0;
    top:7.5px;
    bottom: 1px;
    background-color: #aaa;
}
label.green:before {
    background:#00A500;
    border:1px solid #008400;
    box-shadow:inset 1px 1px #00BF00;
}
.spoiler input[type=radio] {
    display: none;
}
.radio label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
input[type=checkbox] {
    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

div.green {background:#2D8633;}
.lightgrey {background:#f1f4f9;}
.white {background:#fff;}
.round {text-align:center;display:inline-block;transition: all .3s ease-in-out;border-radius:100px;}
.icon {width:100%;margin:0 auto;}
.icon h2 a {text-decoration:none;transition:.3s;}
.icon:hover .round {transform: scale(1.1);}
.icon:hover h2 a {color:#2d8633;}

.two {width:50%;float:left;}
.two-item {width:calc(50% - 2px);float:left;}
.three {width:33.3333333333%;float:left;}
.four {width:25%;float:left;}

.row {margin-left:-15px;margin-right:-15px;}
.arrow {height: 37px;
    width: 100%;
    padding: 0px;
    margin: -37px 0;
    background:url('../images/layout/arrowup.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;}

a.white {color:#fff;}
a.green {color:#2D8633;background:transparent;text-decoration:none;}


.mobile-menu-toggler {width:50px;height:50px;background:#2D8633 url(../images/backend/menu-alt.png) center center;background-repeat:no-repeat;display:none;float:right;margin-top:25px;margin-right:10px;cursor:pointer;}

.responsive-mobile {display:none;position:absolute;top:-2000px;}
@media only screen and (max-width: 1000px), only screen and (max-device-width: 500px) {
    .responsive-full-width {width:100%;}
    .responsive-padding, .content {padding:10px;}
    .container {width:100%;box-sizing:Border-box;}
    .container-max {width:100%;}
    .four {width:50%;}
    footer {width:100%;box-sizing:border-box;}
    nav {height:auto;min-height:75px;}
    nav h1 {padding-left:10px;}
    nav input[type=search] {margin-right:10px;}
}
@media only screen and (max-width: 875px), only screen and (max-device-width: 450px) {
    .responsive-second-full-width {width:100%;}
    .three {width:100%;float:none;}
    .mobile-menu-toggler {display:block;}
    .logo {text-align:left;padding-left:5px;}
    nav .menu-holder {width:100%;}
    nav .controllers {display:none;}
    nav ul.controllers li:hover {border-bottom:5px solid #2D8633;}
    .responsive-mobile {display:block;position:initial;top:initial;}
    nav input[type=search] {display:none;}
    header h2 {font-size:30px;}
    header p {font-size:19px;}
    footer .three {padding-left:15px; text-align:left !important;}
    footer .three img {float:left !important;margin-right:0 !important;}
}

@media only screen and (max-width: 675px), only screen and (max-device-width: 350px) {
    .responsive-third-full-width {width:100%;}
    .two {width:100%;float:none;}
    .two-item {width:100%;float:none;}
    .mobile-menu-toggler {display:block;}
    nav .menu-holder {width:100%;}
    .responsive-mobile {display:block;position:initial;top:initial;}
    nav .controllers {display:none;}
    header {height:auto;}
    header h2 {padding-top:35px;}
    header button {margin-bottom:35px;}
    .responsive-top {position:absolute !important;margin-top:-50px;top:initial !important;color:#444;}
    .responsive-add-margin-top {margin-top:75px;}
    .responsive-mobile-align-center {text-align:center !important;}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    nav h1 {float:left;width:215px;color:#fff;line-height:20px;}
}